.subTotal {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  .conditionCheck {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  button {
    background-color: #f0c14b;
    color: #000;
    border-radius: 2px;
    height: 30px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
  }
}
